.bitrix {
    flex-direction: column;
    gap:40px
}

.bitrix__list {
  list-style: none;
  display: grid;
  gap: 20px;
  grid-template-columns: 200px auto;
  line-height: 120%;
  margin: 20px 0;
  padding: 0;
}

.bitrix__list-item {
    text-align: justify;
}

.bitrix__span {
  font-size: 1.1rem;
  font-weight: 600;
}
.bitrix__img-container {
  display: flex;
  max-width: 100%;
  margin-top: 50px;
}
.bitrix__img {
  /* background: url(../images/980x247.png); */
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

@media screen and (max-width: 680px) {
  .bitrix__list {
      grid-template-columns:  auto;
  }
}