.faq {
    display:flex;
    flex-direction: column;
    margin: 0 auto;
    min-height: 50vh;
    }
    
    .faq__block {
      padding: 20px 0 10px;
      border-bottom: 1px solid #83a7c9;
      display: flex;
      cursor: pointer;
      /* animation: Appearance 1s ease-in-out; */
    }
    
    /* @-webkit-keyframes Appearance {
      0% {opacity: 0;}
      100% {opacity: 1;}
    }
    
    @-o-keyframes Appearance {
      0% {opacity: 0;}
      100% {opacity: 1;}
    }
    
    @-moz-keyframes Appearance {
      0% {opacity: 0;}
      100% {opacity: 1;}
    }
    
    @keyframes Appearance {
      0% {opacity: 0;}
      100% {opacity: 1;}
    } */
    
    .faq__subtitle {
      margin: 0 0 20px;
      font-size: 18px;
    
    }
    
    .faq__list {
      list-style: none;
    }
    
    .faq__img-container {
      animation: Appearance 3s ease-in-out;
      min-height: min-content;
    }
    
    .faq__img {
      max-width: 500px;
      object-fit: cover;
      object-position: center;

    
    }
    
    .faq__link {
      text-decoration: none;
      color: #ffffff;
    }
    
    
    .faq__support {
    display: flex;
    gap: 10px;
    }
    
    .faq__icon {
      background-image: url(../public/images/plus.png);
      background-position: center;
      background-size: cover;
      height: 24px;
      min-width: 24px;
      margin-right: 20px;
      transition: all 4s ease-in-out 1s;
    }
    
    .faq__icon_minus {
      background-image: url(../public/images/minus.png);
    }
    
    @media screen and (max-width: 500px) {
      .faq__img {
        width: 100%;
      }
      .faq__list {
        padding: 0;
      }
      .my-app {
        padding: 20px;
      }
      .faq {
        padding: 20px;
      }
    }