.my-apps {
    flex-direction: column;

  }
  
  .my-apps__container {
    display: grid;
    gap: 60px;
    grid-template-columns:auto auto;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
  }
  
  .my-apps__item {
    width: 360px;
    height: 360px;
    border-radius: 20px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #02283f;
    box-shadow: 0 4px 12px 0 #24242c85;
    transition: all 4s ease-in-out 1s;
    cursor: pointer;
    box-sizing: border-box;
    position: relative;
  
  }
  
  .my-apps__item:hover {
    background: linear-gradient(201deg, #02283f, #24242c);
    box-shadow: 0 4px 12px 0  #5086b6;
    /* color: #9090a0; */
  }
  
  .my-apps__subtitle {
    text-align: center;
    margin: 0;
    font-weight: 700;
  }
  .my-apps__img {
    height: 60px;
    border-radius: 50%;
    background-color: #5086b6;
    box-shadow: 0 4px 12px 0 #5086b652;
    padding: 5px;
    position: absolute;
    top:-30px;
    left:-20px
  }

  .my-apps__market {
    height: 50px;
    border-radius: 10px;
  }
  
  
  .my-apps__text {
    margin: 0;
    line-height: 150%;
    text-align: center;
  }
  
  .my-app {
    padding: 70px;
    position: relative;
    z-index: 1;
    line-height: 150%;
    display: grid;
    gap: 10px;
  }
  
  .my-app__title-container {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 15px;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .my-app__img {
    height: 100px;
    border-radius: 5px;
    grid-row-start: 1;
    grid-row-end: 4;
    box-shadow: 0 4px 12px 0 #5086b6;
  }
  
  .my-app__title {
    margin: 0;
    font-size: 20px;
  }
  
  .my-app__text {
    margin: 0;
    line-height: 200%;
  }
  
  .my-app__text_invisible {
    display: none;
  }
  
  .nav__menu {
    gap: 5px;
    display: flex;
    list-style: none;
    justify-content: space-around;
    margin: 0 0 20px 0;
  }
  
  .nav__menu-item {
    border-radius: 6px;
    box-shadow: inset 0 0 20px 13px rgb(0 0 0 / 7%);
    margin: 0;
    padding: 20px 0;
    height: 100%;
    width: 100%;
    text-align: center;
  }
  
  .my-app__link {
    font-size: 20px;
    line-height: 120%;
    cursor: pointer;
    text-decoration: none;
    color: #9090a0;
    border-radius: 5px;
  }
  
  .nav__link_active {
    font-weight: 700;
    text-decoration: underline;
  }
  
  .my-app__list {
    font-weight: 700;
  }
  
  .my-app__list-item {
    font-weight: 400;
  
  }
  
  .my-app__text-span {
    font-weight: 700;
  }
  
  .my-app__faq {
    padding: 40px 0 20px;
    border-bottom: 1px solid #83a7c9;
    display: flex;
    flex-direction: column;
  }
  
  .my-app__faq-block {
    display: flex;
    cursor: pointer;
  }
  
  .my-app__subtitle {
    margin: 0 ;
    font-size: 18px;
    font-weight: 400;
  }
  
  .my-app__icon {
    background-image: url(../public/images/plus.png);
    background-position: center;
    background-size: cover;
    height: 24px;
    width: 24px;
    margin-right: 20px;
    transition: all 4s ease-in-out 1s;
  }
  
  .my-app__icon_minus {
    background-image: url(../public/images/minus.png);
  }
  
  .my-app__navlink {
    font-size: 20px;
    text-decoration: none;
    color: #ffffff;
    margin-left: 20px;
    /* text-shadow: 3px 2px 10px #5086b6; */
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: all .3s;
    padding-bottom: 5px;
  }
  
  .my-app__navlink:hover {
    background-size: 100% 2px;
  }
  
  
  @media screen and (max-width: 850px) {
    .my-apps__container {
      gap: 30px;
    }
    .my-apps {
      padding: 25px;
    }
    .my-app {
      padding: 25px;
  
    }
    .my-app__list  {
      padding:0;
    }
  }
  @media screen and (max-width: 775px) {
    .my-apps__item {
      width: 310px;
      height: 310px;
    }
  }
  
  @media screen and (max-width: 670px) {
    .my-apps__container {
      flex-direction: column;
      align-items: center;
      gap: 30px;
      grid-template-columns: auto;
    }
    .nav__menu {
      flex-direction: column;
      align-items: flex-start;
      gap: 15px;
      padding: 20px;
    }
    .my-app__title-container {
      justify-items: center;
      grid-template-columns: 1fr;
      padding: 20px;
    }
    .my-apps__item {
      padding: 15px;
      width: 300px;
      height: 300px;
      }
  }
  @media screen and (max-width: 330px) {
    .my-apps__item {
      width: 290px;
      height: 290px;
    }
  }