.news {
    display: grid;
    gap: 20px;
    padding: 50px;
   }
    .news__list {
    list-style: none;
    display: grid;
    margin: 0;
    padding: 0;
    gap: 10px;
  }
  .news__title {
    text-align: center;
    font-size: 24px;
    margin: 0;
  }
  
  .news__list-item {
    border-radius: 6px;
    box-shadow: inset 0 0 20px 13px rgb(0 0 0 / 7%);
    padding: 20px;
    display: grid;
    gap: 10px;
  }
  .news__list-period {
    margin: 0;
  }
  .news__list-title {
    margin: 0;
    color: #5086b6;
    text-decoration: none;
    font-weight: 600;
  }
  
  .news__text {
    margin: 0;
  }
  
  .news__filter {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(7, auto);
    width: 100%;
    gap: 5px;
  }
  
  .news__btn {
    background: none;
    color: #88b7e1;
    font-weight: 500;
    border: none;
    cursor: pointer;
    transition: all 0.8s;
  }
  
  .news__btn:hover {
    color: #ffffff;
  }
  
  @media screen and (max-width: 660px) {
    .news__filter {
      grid-template-columns: none;
      justify-items: start;
    }
  
    .news {
      padding: 25px;
    }
  }